<!-- Banner -->
<section id="banner">
    <div id="blob">
        <canvas>
        </canvas>
    </div>
    <div class="content">
		<span class="image object">
			<img src="/images/banner-white.png" alt="" />
		</span>
        <header>
            <p>{{ "artificial intelligence for social good" | upcase }}</p>
        </header>
        <p>CAIS++ (pronounced "case plus plus") is a USC Viterbi-affiliated undergraduate student organization that serves as the student branch of the USC Center for Artificial Intelligence in Society (CAIS). In brief, our students work to promote the development of AI applications for social good.</p>
        <ul class="actions">
            <li><a href="/contact/clients" class="button big">For Clients/Professors</a></li>
            <li><a id="sponsors" href="/contact/sponsors" class="button big">For Sponsors</a></li>
        </ul>
    </div>
</section>