<tr>
  {% assign name = row["Name"] | split: " " %}
  <td>{{ name.first }} {{ name.last }}</td>
  <td>{{ row["Cohort"] }}</td>
  <td>
    {% assign terms = row["Project Lead Terms"] | split: "," %}
    {% for term in terms %}
    <code>Project {{ term | strip }}</code>
    {% endfor %}
    {% assign terms = row["Curriculum Lead Terms"] | split: "," %}
    {% for term in terms %}
    <code>Curriculum {{ term | strip }}</code>
    {% endfor %}
  </td>
  <td>
    {% assign projects = row["Projects"] | replace: " ", "" | split: "," %}
    {% for project in projects %}
    {% if site.data.project-metadata contains project %}
    {% unless projects contains site.data.project-metadata[project].updated %}
    <a href={{ site.data.project-metadata[project].link }}>{{ site.data.project-metadata[project].displayName }}</a>{% unless forloop.last %}{{",&nbsp;"}}{% endunless %}
    {% endunless %}
    {% endif %}
    {% endfor %}
  </td>
  <td>
    {% if row["Github"] %}
    <a href={{ row["Github"] }} target="_blank" class="no-border"><i class="fab fa-github"></i></a>
    {% endif %}
    {% if row["LinkedIn"] %}
    <a href={{ row["LinkedIn"] }} target="_blank" class="no-border"><i class="fab fa-linkedin"></i></a>
    {% endif %}
  </td>
</tr>