<div id="sidebar">
  <div class="inner">
    <!-- Menu -->
    <nav id="menu">
      <header class="major">
        <a href="/index">
          <img src="/images/whitecircle.png" style="height: 100%; object-fit: contain; border: 0" align="left">
          <h2>
            Menu
          </h2>
        </a>
      </header>
      <ul>
        <li><a href="/index">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li>
          <span class="opener">People</span>
          <ul>
            <li><a href="/people">Current Members</a></li>
            <li><a href="/people/alumni">Alumni</a></li>
          </ul>
        </li>
        <li>
          <span class="opener">Curriculum</span>
          <ul>
            <li><a href="/curriculum">Overview</a></li>
            <li><a href="/curriculum/classification">- Classification</a></li>
            <li><a href="#">- Neural Networks</a></li>
            <li><a href="#">- Convolutional Neural Networks</a></li>
            <li><a href="#">- Recurrent Neural Networks</a></li>
            <li><a href="#">- Generative Adversarial Networks</a></li>
            <li><a href="#">- Reinforcement Learning</a></li>
            <li><a href="#">Special Topics</a></li>
            <li><a href="#">Reading List</a></li>
          </ul>
        </li>
        <li><a href="/#applications">Apply</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </nav>

    <!-- Section -->
    <section id="contact-section">
      <header class="major">
        <h2>Get in touch</h2>
      </header>
      <h3 class="nomargin">For Clients/Professors</h3>
      <p>Since our inception, our members have been striving to apply their skills in Artificial Intelligence to help solve the real problems in communities around us. Our student teams work with nonprofits, researchers, and community leaders on semester-long projects to ensure that new advancements in AI are used for social good.  At the moment, our projects are primarily centered around machine learning, a subfield of Artificial Intelligence that focuses on leveraging large amounts of data to build statistical models that are able to generate insights and predictions that traditional software can’t.</p>
      <a href="/contact/clients" class="button big">More Info</a>

      <h3>For Sponsors</h3>
      <p>We have 50+ talented and driven members who are striving to continuously learn more about AI and to apply this knowledge to solve pressing problems in the world around us.</p>
      <a href="/contact/sponsors" class="button big">More Info</a>

      <h3>For Prospective Members</h3>
      <p>We'd love to have you join our community! Please find our information on applying <a href="/#applications">here</a>.</p>

      <h3>Contact Information</h3>

      <ul class="contact">
        <li class="icon solid fa-envelope"><a href="mailto:caisplus@usc.edu">caisplus@usc.edu</a></li>
        <li>
          <a class="fab fa-twitter" href="https://twitter.com/CAISplusplus" target="_blank"></a>
          <a class="fab fa-instagram" href="https://www.instagram.com/caisplusplus/" target="_blank"></a>
          <a class="fab fa-github" href="https://github.com/usc-caisplusplus" target="_blank"></a>
        </li>
      </ul>
    </section>

    <section id="sponsors">
      <header class="major">
        <h2>Our Sponsors</h2>
      </header>
      <div class="content">
        <img src="/images/sponsors/apple.png">
        <img src="/images/sponsors/boeing.png" style="height: 2.5em;">
        <img src="/images/sponsors/chevron.png">
        <img src="/images/sponsors/wintec.png" style="height: 1.8em;">
        <img src="/images/sponsors/twosixlabs.png" style="height: 2.5em;">
        <img src="/images/sponsors/nvidia.png">
      </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
      <p class="copyright">&copy; CAIS++. All rights reserved. <br>
        Design: <a href="https://html5up.net" target="_blank">HTML5 UP</a>.</p>
    </footer>
  </div>
</div>