---
---
@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';
@import 'fontawesome-all';
body {
    background: _palette(bg);

    #banner {
        .content {
            background-image: linear-gradient(0, _palette(bg), transparent);
            text-align: center;
        }
        .image {
            margin: auto;
        }
    }
    ul {
        justify-content: center;

        @media (orientation: landscape) {
            #sponsors {
                width: 20em;
            }
        }
        @media (orientation: portrait) {
            flex-direction: column;
            gap: 1em;
        }
    }
    #apply {
        justify-content: start;
        a[disabled] {
            cursor: default;
            opacity: 0.3;
        }
    }
    table {
        thead, tr {
            background: transparent !important;
        }
        td {
            width: 33%;
        }
        a {
            font-weight: bold;
        }
        h4 {
            margin: 1em 0 0 0;
        }
    }
}