.tab {
    margin-bottom: 3rem;

    display: flex;
    justify-content: flex-start;
    column-gap: 2em;

    font-size: 1.5em;
}
.tab .tab-item {
    position: relative;
    width: max-content;
}
.tab h2:hover {
    cursor: pointer;
}
.tab h2[onfocus]::after {
    content: '';
    width: 100%;
    height: 70%;
    position: absolute;
    left: 0;

    border-bottom: 0.2em solid;
}

.tab-content-container {
    position: relative;
}
.tab-content {
    transform: scaleY(0);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
}
.tab-content[onfocus] {
    transform: none;
    opacity: 1;
    visibility: visible;
    position: relative;

    transition: opacity 0.3s, visibility 3s;
}
.tab-content p {
    margin: 0;
}
#tab-content-members {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}